* {
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 8%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure the body takes up the full viewport height */
  margin: 0;
}
.main {
  background-color: hsl(0, 0%, 12%);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px auto;
  padding: 30px 0;
  border-radius: 20px;
}
.dp {
  width: 90px;
  height: 90px;
  text-align: center;
  border-radius: 100%;
  margin: 10px 0px;
}
.main > h2 {
  color: white;
}
.main > h3 {
  color: hsl(75, 94%, 57%);
  margin-bottom: 15px;
}
.bio {
  margin-bottom: 10px;
  font-size: 12px;
}
.social {
  background-color: hsl(0, 0%, 20%);
  color: white;
  padding: 10px;
  width: 250px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 2px;
  display: flex;
  gap: 10px;
}
.custom-icon {
  margin-left: 85px;
}

@media (max-width: 500px) {
  body {
    flex-direction: column; /* Stack flex items vertically on smaller screens */
    align-items: stretch; /* Stretch items to full width on smaller screens */
  }

  .main {
    margin: 30px auto; /* Center the .main container with auto margin */
    width: 90%; /* Adjust width for smaller screens */
  }
}
@media (max-width: 330px) {
  body {
    flex-direction: column; /* Stack flex items vertically on smaller screens */
    align-items: stretch; /* Stretch items to full width on smaller screens */
  }

  .main {
    margin: 30px auto; /* Center the .main container with auto margin */
    width: 90%; /* Adjust width for smaller screens */
  }
  .bio {
    width: 200px;
    text-align: center;
  }
}
